{% extends 'base.j2' %}

{% block page %}
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h2>{{ event.title }}</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="embed-responsive embed-responsive-16by9">
                    {% if event.video_source == "youtube" %}
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{event.video_id}}" allowfullscreen></iframe>
                    {% endif %}
                </div>
                <br>
                <dl class="dl-horizontal">
                    <dt>Starts</dt>
                    <dd>{{event.start_time}}</dd>
                    <dt>Ends</dt>
                    <dd>{{event.end_time}}</dd>
                    <dt>Description</dt>
                    <dd>{{event.description}}</dd>
                </dl>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <form method='POST' action='/events/{{event.id}}/questions/'>
                            <textarea class="form-control" name="question" rows="3"></textarea><br>
                            <button class="btn btn-primary btn-block">Submit New Question</button>
                        </form>
                        <hr>
                    </div>
                </div>
                {% for question in event.questions %}
                <div class="row">
                    <div class="col-md-12">
                        {{ question.content }}
                    </div>
                </div>
                {% for answer in question.answers %}
                {% if loop.index == 1 %}
                <br>
                <div class="row">
                    <div class="col-md-12 col-md-offset-1">
                    {{ answer.content }}
                    </div>
                </div>
                {% endif %}
                {% else %}
                {% if g.user.can_answer %}
                <br>
                <div class="row">
                    <div class="col-md-12 col-md-offset-1">
                        <form method='POST' action='/events/{{event.id}}/questions/{{question.id}}/answers/'>
                            <textarea class="form-control" name="answer" rows="2"></textarea><br>
                            <button class="btn btn-primary btn-block">Submit Reply</button>
                        </form>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
