{% extends 'base.j2' %}

{% block page %}
<div class="container">
    {% if g.user.is_admin %}
    <div class="row">
        <div class="col-md-2 col-md-offset-10">
            <a href="/events/new/" class="btn btn-primary btn-block">Create Event</a>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Starts</th>
                        <th>Ends</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                    <tr>
                        <td><a href="/events/{{event.id}}/">{{ event.title }}</a></td>
                        <td>{{ event.start_time }}</td>
                        <td>{{ event.end_time }}</td>
                        <td>{{ event.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
